<div class="jumbotron">
  <h1>Phishing Alert Homepage</h1>
  <p class="lead">Welcome To Your Phishing Reporting Home Page </p>
  {{#if user}}
    <p>Hello {{user}}!</p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>